@model Vedma0.Models.Preset

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Console.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Preset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SortValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SortValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Abilities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._Abilities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelfInsight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelfInsight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
<hr />
<h2>Базовые свойства</h2>
<p>
    <span>
        <a class="btn btn-default" asp-controller="BaseProperties" asp-action="Create" asp-route-type="Text" asp-route-id="@Model.Id">Создать текстовое свойство</a>
    </span>
    <span>
        <a class="btn btn-default" asp-controller="BaseProperties" asp-action="Create" asp-route-type="Number" asp-route-id="@Model.Id">Создать числовое свойство</a>
    </span>
    <span>
        <a class="btn btn-default" asp-controller="BaseProperties" asp-action="Create" asp-route-type="TextArray" asp-route-id="@Model.Id">Создать свойство в виде массива</a>
    </span>
    <span>
        <a class="btn btn-default" asp-controller="BaseProperties" asp-action="Create" asp-route-type="Identity" asp-route-id="@Model.Id">Создать свойство взаимосвязи объектов</a>
    </span>
</p>


@if (Model.BaseProperties.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Label("Название")
                </th>
                <th>
                    @Html.Label("Значение")
                </th>
                <th>
                    @Html.Label("Описание")
                </th>
                <th>
                    @Html.Label("Тип свойства")
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BaseProperties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetPropertyType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="BaseProperties" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" asp-controller="BaseProperties" asp-route-id="@item.Id">Детали</a> |
                        <a asp-action="Delete" asp-controller="BaseProperties" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Нет свойств</h3>
}


