
@model Vedma0.Models.ViewModels.ContactList
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Console.cshtml";
}
<h2>Контакты персонажа:</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Имя")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="index" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Владельцы контакта персонажа:</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Имя")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Watchers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="index" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
