@model IEnumerable<Vedma0.Models.GameEntities.Character>

@{
    Layout = "~/Views/Shared/_Console.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Персонажи</title>
</head>
<body>
<p>
    <a class="btn btn-default" asp-action="Create">Создать нового персонажа</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasSuspendedSignal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InActiveMessage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.User != null)
            {
            <td>
                <span>
                    @Html.DisplayFor(model => item.User.UserName)
                </span>
                <span>
                    @Html.DisplayFor(model => item.User.Email)
                </span>
                <span>
                    @Html.DisplayFor(model => item.User.PhoneNumber)
                </span>  
            </td>
              
            }
            else
            {
             <td>
                @Html.Display("игрок не присвоен")
             </td>
            }
            <td>
                @Html.DisplayNameFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSuspendedSignal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InActiveMessage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
