@model IEnumerable<Vedma0.Models.Preset>

@{
    ViewData["Title"] = "EditPresets";
    Layout = "~/Views/Shared/_Console.cshtml";
}

<h2>EditPresets</h2>

<form asp-action="Presets" asp-route-id="@ViewBag.Id" method="post">
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>
                     
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.CheckBox(item.Id.ToString(), item.EntityPresets.Select(ep => ep.GameEntityId).Contains((long)ViewBag.Id))</td>
                    <td>@Html.ValueFor(model => item.Name)</td>
                    <td>@Html.ValueFor(model => item.Description)</td>
                </tr>
                }
            </tbody>
        </table>
        <input type="submit" name="Готово" class="btn btn-default"/>
    </div>
</form>
